.sidebar {
    background-color: #3749a6;
    padding: 24px 16px;
    height: 100vh;
}

.sidebarItem {
    text-decoration: none;
    font-size: 16px;
    padding: 16px 60px;
    color: #fff;
    font-weight: bold;
}

.activeSelected {
    background-color: #ffa500;
    color: #1e1e1e;
    text-wrap: nowrap;
    border-radius: 100px;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
