.background {
    /* background: linear-gradient(to top right, #011321 10%, #102632 88%); */
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.background::-webkit-scrollbar {
    display: none;
}

.layoutConfig {
    margin-bottom: 64px;
}
