@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.dashboard {
    position: relative;
    background: linear-gradient(to top right, #2a2a72, #009ffd);
    height: 100vh;
    padding: 0px 40px 40px 40px;
    font-family: 'Alata', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: background-color 0.5s ease-in-out, width 0.5s, height 0.5s;
}

.dashboardContainer {
    width: 100%;
    max-height: 30vh;
    margin: 30px 0 0 30px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.dashboardContainer::-webkit-scrollbar {
    display: none;
}

.tag {
    margin-top: 20px;
}

.videoContainer,
.imageContainer {
    width: 240px;
    height: 120px;
    background: linear-gradient(to top right, #00c6dd 2%, #13d8ec 32%, #bef3ff 100%);
    color: #090c14;
    padding: 24px 36px;
    border-radius: 16px;
    text-decoration: none;
    cursor: pointer;
}

.imageContainer {
    background: linear-gradient(to top right, #d60000 2%, #ff5c5c 32%, #ffc2c2 100%);
}

.icon {
    font-size: 32px;
}

.imageGenerateContainer,
.imageContainer {
    background: linear-gradient(to right, #d60000 2%, #ff5c5c 32%, #ffc2c2 100%);
    color: #090c14;
    padding: 24px 36px;
    border-radius: 16px;
    text-decoration: none;
    cursor: pointer;
}

.chart {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 10px;
}

.chartContainer {
    background: linear-gradient(to top right, #e3f2fd, #ffffff);
    padding: 20px;
    border-radius: 16px;
    height: 40vh;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.imageGenerateContainer,
.imageContainer {
    background: linear-gradient(to right, #d60000 2%, #ff5c5c 32%, #ffc2c2 100%);
    color: #090c14;
    padding: 24px 36px;
    border-radius: 16px;
    text-decoration: none;
    cursor: pointer;
}

.chart {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 10px;
}

.chartContainer {
    background: linear-gradient(to top right, #e3f2fd, #ffffff);
    padding: 20px;
    border-radius: 16px;
    height: 40vh;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
