.bodyContent {
    max-height: 100vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.bodyContent::-webkit-scrollbar {
    display: none;
}
